<article>
  <figure>
    <% slide.media_assets.each_with_index do |asset, index| %>
      <img src="<%= asset['url'] %>" alt="<%= asset['filename'] %>" />
      <%= slide.media_captions[index] %>
    <% end %>
  </figure>
  <figcaption>
    <h1><%= slide["Headline"] %></h1>
    <%= markdown slide["Body"] %>
  </figcaption>
</article>
