<% slide.media_assets.each do |asset| %>
  <figure>
    <img src="<%= asset['url'] %>" alt="<%= slide['Headline'] %>" />
  </figure>
<% end %>
<% frame = slide["Headline"].split('___') %>
<% choices = slide["Flags"].split(',').shuffle %>
<article>
  <header>
    <h1>
      <%= frame.first %>
        <span class="indecision">
          <% choices.each do |choice| %>
            <span class="indecision-choice"><%= choice %></span>
          <% end %>
        </span>
      <%= frame.last %>
    </h1>
  </header>
  <%= markdown slide['Body'] %>
</article>
