<% slide.media_assets.each do |asset| %>
  <figure>
    <img src="<%= asset['url'] %>" alt="<%= slide['Headline'] %>" />
  </figure>
<% end %>
<article>
  <header>
    <h1>
      <% sections = slide["Headline"].split('___') %>
      <% options = slide["Flags"].split(',').shuffle %>
      <%= sections.first %>
        <span class="fill-in-the-blank">
          <span data-options="<%= options.join(',') %>"><%= options.first %></span>
        </span>
      <%= sections.last %>
    </h1>
  </header>
  <%= markdown slide['Body'] %>
</article>
